NEXT_PUBLIC_API_BASE_URL=https://scrapper2-sandy.vercel.app
NEXT_PUBLIC_SITE_URL=https://minidesawar.com
CATEGORY_NAME=Minidesawer
MINIBACKEND_BASE_URL=https://minidesawarcom.vercel.app
MINIBACKEND_AUTH_CODE=

